<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="neteeza" value="Driver=NetezzaSQL; Server=qysprdntzdb05.data.bos.intuit.net; Port=5480; Database=UED_QBO_WS; Persist Security Info=true; UID=SMADHAVAN; PWD=SMADHAVAN" />
    <add key="csvout" value="c:\test" />
    <add key="commandtimeout" value="100000" />
  </appSettings>
</configuration>